body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 7rem;
    height: 2.7vh;
    margin-top: 2rem;
    margin-left: 11rem;
}

nav {
    display: flex; 
    background-color: rgb(247,244,236);
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    margin-top: 1rem;
}

a {
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    color: rgb(93,21,16);

    padding-right: 2em;
}

.nav-right-side {
    margin-left: 35em;
}

.sign-up-btn {
    font-family: 'DM Sans', sans-serif;
    font-size: .9rem;
    color: rgb(93,21,16);
    background: rgb(246,195,82);
    border: none;
    border-radius: .5em;
    
    padding: .5rem 2rem;
    margin-top: 1.75em;
}

main {
    display: flex;
    background-color: rgb(247,244,236);
}

.main-left-images {
    display: flex;
    flex-direction: column;
}

.evolve-img {
    width: 45em;
    margin-left: 4.3em;
    margin-top: 7em;
    margin-bottom: -3em;
}

.evo-fitness-img {
    width: 30em;
    margin-left: 9em;
}

.main-left-side p {
    font-family: 'DM Sans', sans-serif;
    color: rgb(93,21,16);
    font-size: .9em;

    margin-left: 10.3em;
    margin-top: 2em;

    inline-size: 45em;
}

.join-btn {
    font-family: 'DM Sans', sans-serif;
    font-size: .9rem;
    color: rgb(93,21,16);
    background: rgb(246,195,82);
    border: none;
    border-radius: .5em;

    margin-left: 10.3em;
    margin-top: 1em;
    margin-right: 2em;
    padding: .5rem 2rem;
}

.main-left-buttons a{
    color: rgb(237,116,108);
    text-decoration: underline;
}

.main-right-side {
    margin-left: 8em;
    margin-top: 3.5em;
}

.companies-container{
    padding-top: 2.7em;
    padding-bottom: 2.7em;
    padding-left: 9.5em;

    background-color: rgb(250,226,225);
}

.fortune {
    padding-right: 13em;
}

.forbes {
    padding-right: 13em;
}

.services-statement h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.8em;
    color: rgb(86, 12, 6);

    padding-left: 5.2em;
    padding-top: 2em;
}

.services-statement p {
    font-family: 'DM Sans', sans-serif;
    font-size: .9em;
    inline-size: 46em;
    color: rgb(125, 67, 63);

    margin-left: 10.5em;
    margin-bottom: 5em;
}

.list-of-gifts {
    display: flex;
    justify-content: space-around;

    margin-bottom: 5em;

    font-family: 'DM Sans', sans-serif;
}

.list-of-gifts section {
    border: 2px solid rgb(220, 205, 204);
    text-align: center;
}

.list-of-gifts section h2 {
    font-size: 1em;
    color: rgb(86, 12, 6);
}

.list-of-gifts section p {
    font-size: 1em;
    inline-size: 28em;
    color: rgb(91, 19, 13);
}

.list-of-gifts section img {
    display: block;
    width: 4em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}

.list-of-gifts section a {
    display: block;
    margin-bottom: 3em;
    width: 100%;

    text-decoration: underline;
    color: rgb(237,116,108);
}

.members-join-container {
    display: flex;

    margin-top: 8em;
}

.members-join-left-side img {
    margin-left: 5em;
    margin-bottom: 6em;
}

.members-join-right-side h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: rgb(86, 12, 6);
}

.members-join-right-side span {
    color: rgb(237,116,108);
}

.members-join-right-side p {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.08em;
    inline-size: 55em;
    color: rgb(91, 19, 13);
}

.members-join-right-side button {
    background: rgb(246,195,82);
    border: none;
    border-radius: .5em;
    

    padding: 1em 2.5em;
    margin-right: 50em;
}

.our-classes-container {
    background-color: rgb(250,226,225);
}

.our-classes-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: rgb(86, 12, 6);

    padding-left: 5.2em;
    padding-top: 2em;
}

.our-classes-container p {
    font-family: 'DM Sans', sans-serif;
    font-size: 1em;
    inline-size: 70em;
    color: rgb(125, 67, 63);

    margin-left: 10.5em;
}

.scroll-pictures {
    overflow: auto;
    white-space: nowrap;
    padding: 1.5em;
} 

.scroll-pictures img {
    width: 28em;
    padding: 1.2em;
}

.join-now-container {
    display: flex;
}

.form input, textarea {
    background-color: rgb(242, 170, 165);
}

